In [1]:
import pandas as pd
import os
os.chdir(r'C:\Users\Rushi.Soni\Documents\topic_modeling\data')

In [2]:
train_df = pd.read_csv('train.tsv', sep='\t')
print(train_df.shape, train_df.columns)
train_df.head()

(156060, 4) Index(['PhraseId', 'SentenceId', 'Phrase', 'Sentiment'], dtype='object')

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [3]:
test_df = pd.read_csv('test.tsv', sep='\t')
print(test_df.shape, test_df.columns)
test_df.head()

(66292, 3) Index(['PhraseId', 'SentenceId', 'Phrase'], dtype='object')

   PhraseId  SentenceId                                             Phrase
0    156061        8545  An intermittently pleasing but mostly routine ...
1    156062        8545  An intermittently pleasing but mostly routine ...
2    156063        8545                                                 An
3    156064        8545  intermittently pleasing but mostly routine effort
4    156065        8545         intermittently pleasing but mostly routine